@primary-color: #F65555;
@text-color: #666464;
@white-color: #FFF;

@heading-color: #3C3939;
@normal-color: #3C3939;
@text-color-secondary: #A8A7A7;
@font-size-base: 16px;

@border-color-base: rgb(59, 57, 57, .25);

@border-radius-base: 13px;

@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
